name: Build

on: [push, pull_request]

jobs:
  build-gcc:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - name: GCC
        run: |
          sudo apt-get update
          sudo apt --yes install libgtk-3-dev libnotify-dev meson ninja-build scdoc
          pkg-config --list-all
          CC=gcc meson build
          ninja -C build

  build-clang:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - name: Clang
        run: |
          sudo apt --yes install libgtk-3-dev libnotify-dev meson ninja-build scdoc clang clang-format clang-tidy
          CC=clang meson build
          ninja -C build
          echo "Making sure clang-format is correct..."
          git ls-files -- '*.[ch]' | xargs clang-format -Werror -n
          echo "Running clang-tidy..."
          run-clang-tidy -p build
